{% extends 'base.html.twig' %}

{% block title %}Connexion à Swap Access{% endblock %}

{% block body %}
    <section>
        <div class="container d-flex flex-column">
            <div class="row align-items-center justify-content-center gx-0 min-vh-100">
                <div class="col-12 col-md-6 col-lg-4 py-8 py-md-11">

                    <!-- Heading -->
                    <h1 class="mb-0 fw-bolder">
                        SwapAccess
                        <img src="{{ asset('img/logo.png') }}" width="40">
                    </h1>

                    <!-- Text -->
                    <p class="mb-6 text-muted">
                        Gérez vos accès en quelques clics.
                    </p>

                    <!-- Form -->
                    <form class="mb-6" action="{{ path('app_login') }}" method="post">

                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        <!-- Email -->
                        <div class="form-group">
                            <label class="form-label" for="inputEmail">
                                Adresse email :
                            </label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus placeholder="adresse@email.com">
                        </div>

                        <!-- Password -->
                        <div class="form-group mb-5">
                            <label class="form-label" for="inputPassword">
                                Mot de passe :
                            </label>
                            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required placeholder="Saisissez votre mot de passe">
                            <p><a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié ?</a></p>
                        </div>

                        <!-- CSRF Protection -->
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                        <!-- Remember me option -->
                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" name="_remember_me"> Rester connecter
                            </label>
                        </div>

                        <!-- Submit -->
                        <button class="btn w-100 btn-primary" type="submit">
                            Se connecter
                        </button>

                    </form>
                </div>
                <div class="col-lg-7 offset-lg-1 align-self-stretch d-none d-lg-block">

                    <!-- Image -->
                    <div class="h-100 w-cover bg-cover" style="background-image: url({{ asset('build/images/covers/cover-14.jpg') }});"></div>

                    <!-- Shape -->
                    <div class="shape shape-start shape-fluid-y text-white">
                        <svg viewBox="0 0 100 1544" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h100v386l-50 772v386H0V0z" fill="currentColor"/></svg>            </div>

                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </section>
{% endblock %}


